.button {
  text-transform: lowercase;
  color: var(--color-white);
  padding: 24px 40px;
  border-radius: 7px;
  background-color: var(--color-blueviolet);
  border: none;
  cursor: pointer;
  transition: var(--transition);
  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: var(--color-blueviolet);
    background-color: var(--color-white);
    outline: 1px solid var(--color-blueviolet);
  }
}
