.logo{
    &__name{
        text-transform: uppercase;
        color: var(--color-bluevuolet);
        font-family: var(--font-roboto);
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.8125rem;
    }
    margin-right: 6.9375rem;
}