
// colors
:root{
    --color-bluevuolet: #553BF9;
    --color-darkgrey: #434343;
    --color-normalgrey: rgba(67,67,67, .4);
    --color-lightgrey: #EAEAEA;
    --color-white: #FFFFFF;

    --color-text: rgba(67, 67, 67, 1)
}


//fonts
:root{ 
    --font-roboto: 'Roboto', sans-serif;
    --font-bebas: 'Bebas Neue', cursive;
}


//transitions
:root{
    --transition: .3s linear
}